/* === Base === */
:root{
--bg: #FFFDF6 #FAF6E9 #4C9A2A #A0C878;  
--muted:#edf6ea;
--card-shadow: 0 8px 18px rgba(18,40,18,0.08);
--glass-strong: rgba(255, 255, 255, 0.85);
}

*{box-sizing:border-box;margin:0;padding:0}
html,body{height:100%}
body{
font-family: "Inter", sans-serif;
background: #FFFDF6;
color: #343534;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
line-height:1.5;
}

.hamburger {
display: none;
cursor: pointer;
font-size: 28px;
color: #343534;
}

.hamburger i {
pointer-events: none;
color: #343534;
}
/* === NAVBAR=== */
.navbar{
position:fixed;
left:50%;
transform:translateX(-50%);
top:18px;
z-index:9999;
width:90%;
max-width:1100px;
border-radius:25px;
box-shadow: 0 10px 30px rgba(15,40,10,0.12);
background:#FFFDF6;
--glass-strong: rgba(248,255,239,0.85);
border: 1px solid rgba(120,140,120,0.08);
}
.nav-inner{
display:flex;
align-items:center;
justify-content:space-between;
padding:12px 22px;
}
.logo a{
padding: 10px;
color:#4C9A2A;
font-weight:700;
letter-spacing:0.6px;
text-decoration:none;
font-size: 20px;
}
nav ul{list-style:none;display:flex;gap:18px}
nav a{
text-decoration:none;
color: #343534;
font-weight:200;
padding:8px 12px;
border-radius:999px;
transition:all .18s ease;
}
nav a:hover{background:rgba(0,0,0,0.07);transform:translateY(-2px)}



/* DROPDOWN MENU */
.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background: #FFFDF6;
    top: 100%;
    left: 0;
    min-width: 180px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 10px 0;
    z-index: 99;
}

.dropdown-menu li {
    list-style: none;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
}

.dropdown-menu li a:hover {
    background: #f0f0f0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* HERO */
.produk-hero {
    height: 50vh;
    background: #A0C878;
    padding-top: 100px;
    text-align: center;
    position: relative;
}

.produk-hero h1 {
    font-size: 42px;
    font-weight: 800;
    color: #FFFDF6;
}

.produk-hero p {
    font-size: 18px;
    color: #343534;
}

/* DESKRIPSI PRODUK */

.deskripsi-section {
    background-color: #FAF6E9;
    padding-top: 100px;
    text-align: center;
    position: relative;
    height: 60vh;
}

.deskripsi-inner p {
    max-width: 80%;
    line-height: 1.6;
    margin: 0 auto;
}

/* PROSES PRODUK */
.proses-section {
    padding: 70px 10%;
    text-align: center;
}

.proses-container {
    display: flex;
    gap: 25px;
    margin-top: 35px;
    justify-content: center;
    flex-wrap: wrap;
}

.proses-card {
    width: 300px;
    background: #A0C878;
    color: #FFFDF6;
    padding: 22px;
    border-radius: 18px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.08);
    transition: .3s;
}

.proses-card:hover {
    transform: translateY(-8px);
}


/* PRODUK */
.produk-section{
padding: 140px 10% 80px;
background: #FFFDF6;
font-family: 'Inter', sans-serif;
}

.title-section{
text-align: center;
color: #343534;
margin-bottom: 40px;
font-size: 26px;
}

.produk-container{
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
padding: 50px;
border-radius: 20px;
border: 1px solid #4C9A2A;
}

.produk-card{
border-radius: 15px;
padding: 15px;
text-align: center;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
transition: 0.3s ease;
}


.produk-card:hover{
transform: translateY(-10px) scale(1.02);
box-shadow: rgba(0,0,0,0.1);
}

.produk-card img{
width: 100%;
height: 170px;
object-fit: cover;
border-radius: 12px;
margin-bottom: 10px;
}

.produk-card h3{
color: #343534;
font-size: 16px;
margin-bottom: 5px;
}

.produk-card p{
font-size: 13px;
margin-bottom: 10px;
color: #343534;
}

.btn-produk-1{
display: inline-block;
padding: 6px 14px;
border-radius: 20px;
border: 1px solid #f0940a;
color: #f0940a;
font-size: 13px;
transition: 0.3s;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.btn-produk-1:hover{
background-color: #FFFDF6;
border: 1px solid #f0940a;
color: #f0940a;
transform: translateY(-3px);
}

.btn-produk-2{
display: inline-block;
padding: 6px 14px;
border-radius: 20px;
border: 1px solid rgb(59, 149, 252);
color: rgb(59, 149, 252);
font-size: 13px;
transition: 0.3s;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.btn-produk-2:hover{
background-color: #FFFDF6;
border: 1px solid rgb(59, 149, 252);
color: rgb(59, 149, 252);
transform: translateY(-3px);
}

.btn-produk-3{
display: inline-block;
padding: 6px 14px;
border-radius: 20px;
border: 1px solid rgb(157, 106, 253);
color: rgb(157, 106, 253);
font-size: 13px;
transition: 0.3s;
box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

.btn-produk-3:hover{
background-color: #FFFDF6;
border: 1px solid rgb(157, 106, 253);
color: rgb(157, 106, 253);
transform: translateY(-3px);
}



/* === FOOTER === */
.site-footer{
background: #4C9A2A;
margin-top:40px;
padding:28px 12px;
color:#343534;
}
.footer-inner{
max-width:1100px;
margin:0 auto 12px;
display:flex;
gap:18px;
justify-content:space-between;
flex-wrap:wrap;
}
.footer-img img {
max-width: 100px;
width: 100%;
height: auto;
border-radius: 100%;
}
.footer-col h3{ font-size:15px; margin-bottom:6px; color:#FFFDF6}
.footer-col p,a,i{ font-size:14px; color:#FFFDF6; margin: 10px}
.footer-col a{ text-decoration:none; color:#FFFDF6}
.footer-col a:hover{ text-decoration:underline;}
.copyright{ text-align:center; font-size:13px; margin-top:12px; opacity:0.8; color:#FFFDF6}


/* === Responsive tweaks === */

@media(max-width: 600px){
.produk-container{
    grid-template-columns: 1fr;
}
}
@media (max-width:900px){
.nav-inner{ padding:10px 14px}
.produk-container {flex-direction: column; align-items: center; width: 100%;  grid-template-columns: repeat(1, 1fr)}
.produk-card {width: 590%; max-width: 500px;}

}
@media (max-width:600px){
nav ul{ gap:8px; font-size:13px }
.produk-container {grid-template-columns: repeat(1, 1fr);}
}

/* ==== RESPONSIVE NAVBAR ==== */
@media (max-width: 768px) {

.produk-card {
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

.produk-container {
    border: none;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    width: 100%;
}
.hamburger {
display: block;
z-index: 99999;
font-size: 20px;
color: #343534;
}

nav ul {
position: absolute;
top: 65px;
right: 20px;
width: 200px;
background: #FFFDF6;
border-radius: 16px;
box-shadow: 0 10px 25px rgba(0,0,0,0.1);
flex-direction: column;
gap: 0;
overflow: hidden;
display: none; 
}

nav ul.show {
display: flex;  
}

nav ul li a {
padding: 14px;
width: 100%;
display: block;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
}
}

/* RESPONSIVE FOOTER */
@media (max-width: 768px) {

.footer-inner {
    flex-direction: column;
    text-align: justify;
    gap: 22px;
}

.footer-img {
    display: flex;
    justify-content: center;
    gap: 18px;
}

.footer-col {
    width: 100%;
    text-align: center;
}

.footer-col h3 {
    margin-bottom: 6px;
}

.footer-col p,
.footer-col a {
    font-size: 15px;
}

.copyright {
    text-align: center;
    padding-bottom: 10px;
}

.dropdown-menu {
        position: static;
        box-shadow: none;
        background: transparent;
        padding-left: 15px; 
    }

    .dropdown-menu li a {
        padding: 8px 0;
    }
}

